@font-face {
  font-family: 'MyFont';
  src: url('./Roboto-Italic.ttf') format('woff2');
  font-weight: 600;
  font-style: normal;
}

.hello {
  color: red;
  font-family: 'MyFont';
  background: url('./icon.png');
  background-repeat: no-repeat;
  }